.preview-container {
    display: flex;
}

.preview-page {
    height: calc(100vh - 240px);
}

.link-homepage {
    text-decoration: none;
    color: var(--text-color-primary);
}

.link-homepage:hover {
    color: var(--text-color-secondary);
}

.wrap-back-arrow {
    display: flex;
    margin-left: 0;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-regular);
    color: var(--text-color-primary);
}

.icon-arrow {
    width: 20px;
    height: 18px;
    margin-right: 10px;
}

.preview-content {
    display: flex;
    color: var(--text-color-primary);
    justify-content: space-between;
}

.preview-left {
    display: flex;
    gap: 70px;
}

.preview-book-image {
    width: 200px;
    height: 280px;
    border-radius: var(--border-radius-sm);
}

.wrap-preview-book-image {
    padding: 50px 35px;
    background-color: var(--background-color-primary);
    border-radius: var(--border-radius-sm);
    height: 280px;
}

.preview-book-details {
    font-weight: var(--font-weight-regular);
}

.preview-book-title {
    font-size: var(--font-size-2xl);
}

.icon-start {
    width: 80px;
    height: 15px;
}

.preview-book-ders {
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    display: flex;
    gap: 10px;
    align-items: center;
}

.preview-book-author {
    font-size: var(--font-size-xs);
}

.borrow-button {
    background-color: var(--btn-background-color-primary);
    color: var(--color-secondary);
    cursor: pointer;
    border-radius: 5px;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
}

.borrow-button[disabled] {
    background-color: #cccccc;
    cursor: not-allowed;
}

.preview-right {
    width: 415px;
    background-color: var(--background-color-primary);
    padding: 30px 10px 150px 30px;
    border-radius: var(--border-radius-sm);
}

.preview-right-wrap-header {
    display: flex;
    gap: 60px;
}

.wrap-title {
    font-size: var(--font-size-lg);
}

.preview-title {
    margin-bottom: 40px;
    color: var(--text-color-secondary);
    font-weight: var(--font-weight-semibold);
}

.wrap-title p {
    font-weight: var(--font-weight-regular);
}

.preview-title span {
    color: var(--text-color-primary);
}

.preview-image {
    width: 120px;
}

.preview-description {
    font-size: var(--font-size-validation);
    font-weight: var(--font-weight-regular);
    padding-right: 30px;
    margin-top: 30px;
}

.wrap-status {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    font-weight: var(--font-weight-regular);
}

.availability-title {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    font-weight: var(--font-weight-bold);
    font-size: 14px;
}

.availability-ders {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-regular);
}

.availability-ders input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.availability-ders label {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    /* Add padding to the left */
    color: var(--text-color-primary);
}

.availability-ders label::before {
    content: '';
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    top: 50%;
    width: 15px;
    height: 15px;
    border: 2px solid var(--btn-background-color-tertiary);
    /* Green border color */
    border-radius: 50%;
    /* Circular shape */
    background-color: var(--btn-background-color-tertiary);
    transition: background-color 0.3s, border-color 0.3s;
}

.availability-ders input[type="checkbox"]:checked+label::before {
    background-color: var(--btn-background-color-tertiary);
    /* Green fill color when checked */
    border-color: var(--btn-background-color-tertiary);
    content: '✔';
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.availability-ders input[type="checkbox"]:checked+label::after {
    content: '✔';
    position: absolute;
    left: 4px;
    top: 1px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: var(--text-color-tertiary);
    /* Circular shape */
    background-color: var(--btn-background-color-tertiary);
    /* Inner circle color */
}

.status {
    font-size: 14px;
    font-weight: var(--font-weight-bold);
}