.input-group {
    margin-bottom: 15px;
}

.lable-input {
    display: block;
    margin-bottom: 5px;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
    color: var(--text-color-primary);
}

.input-wrapper input {
    box-sizing: border-box;
    border: 1px solid #ABABAB;
    border-radius: 8px;
    background: var(--background-color-primary);
}

.input-wrapper {
    position: relative;
}

.input-wrapper .toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.input-wrapper .toggle {
    width: 20px;
    /* Adjust size as needed */
    height: 20px;
    /* Adjust size as needed */
}