.myshelf-page {
    min-height: calc(100vh - 210px);
}

.tabs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 25px;
    margin-top: 25px;
}

.tab.undefined {
    color: var(--text-color-grey);
    margin-right: 30px;
    cursor: pointer;
    border: none;
    background: var(--background-color-tertiary);
}

.tab.undefined:hover {
    background-color: var(--background-color-tertiary);
}

.tab.active {
    color: var(--text-color-primary);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-md);
    background: var(--background-color-tertiary);
}

.tab.active:hover {
    background-color: var(--background-color-tertiary);
}

.books-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
}

.book-item {
    width: 100%;
    max-width: 280px;
    padding: 15px 20px 5px 20px;
    border: 1px solid var(--color-transparent);
    border-radius: var(--border-radius-sm);
    background-color: var(--background-color-primary);
    display: flex;
    font-weight: var(--font-weight-regular);
    color: var(--text-color-primary);
    justify-content: space-between;
}

.book-item-image {
    width: 125px;
    height: 170px;
    border-radius: 5px;
}

.book-item-name {
    font-size: 12px;
}

.book-item-author {
    font-size: var(--font-size-xxs);
}

.book-item-rate {
    font-size: var(--font-size-xxs);
}

.book-item-column-right {
    padding: 10px 0 30px 0;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.book-item-status {
    font-size: var(--font-size-xs);
    margin: 0;
}

.book-item-time {
    font-size: var(--font-size-xxs);
}

.btn-return {
    margin-top: 10px;
}

.btn-unlike {
    margin-top: 10px;
}

.btn-preview {
    margin-top: 10px;
}

.myshelf-title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    color: var(--text-color-primary);
    margin: 0;
}

.myshelf-title span {
    color: var(--text-color-secondary);
}

.book-item-favourite {
    width: 100%;
    display: flex;
    background-color: var(--background-color-primary);
    padding: 15px 15px 20px;
    max-width: 1400px;
    border-radius: var(--border-radius-sm);
    align-items: center;
    color: var(--text-color-primary);
    list-style-type: none;
    justify-content: flex-start;
}

.book-item-favourite-image {
    width: 74px;
    height: 100px;
    border-radius: 5px;
}

.book-item-favourite-content {
    font-weight: var(--font-weight-regular);
    width: 220px;
}

.book-item-name {
    font-size: var(--font-size-lg);
}

.book-item-author {
    font-size: var(--font-size-xs);
}

.book-item-favourite-category {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-xs);
    width: 15%;
}

.author {
    width: 34%;
    display: flex;
    justify-content: space-around;
}

.rate {
    width: 10%;
}

.status {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book-item-favourite-rate {
    font-size: var(--font-size-lg);
}

.book-item-favourite-rate span {
    font-size: var(--font-size-xs);
    color: var(--text-color-grey);
}

.wrap-book-item-favourite-title {
    color: var(--text-color-primary);
    display: flex;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-lg);
    width: 100%;
    max-width: 1400px;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 0;
}

.wrap-book-item-favourite-title li {
    list-style-type: none;
}

.book-item-column-left li {
    list-style-type: none;
}

.book-item-column-left {
    margin: 0;
    padding: 0;
}

.wrap-book-item-favourite-title li:nth-child(1) {
    width: 34%;
}

.wrap-book-item-favourite-title li:nth-child(2) {
    width: 10%;
}

.wrap-book-item-favourite-title li:nth-child(3) {
    width: 16%;
}

.wrap-book-item-favourite-title li:nth-child(4) {
    width: 11%;
}