.item-card {
    width: 100%;
    max-width: 160px;
    background-color: var(--background-color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15px 15px 0 15px;
    border-radius: var(--border-radius-sm);
}

.book-image {
    width: 130px;
    height: 180px;
    border-radius: 5px;
}

.item-card:hover {
    cursor: pointer;
}

.heart-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.heart-icon:hover {
    transition-delay: 0.15s;
    height: 22px;
}

.wrap-card-content {
    display: flex;
    margin: 0 auto;
}

.heart-icon-actions {
    padding-top: 11px;
}

.book-details {
    font-weight: var(--font-weight-regular);
    color: var(--text-color-primary);
    margin-right: 5px;
}

.book-details:hover {
    cursor: pointer;
    color: var(--color-primary);
}

.book-details-name {
    font-size: 12px;
}

.book-details-author {
    font-size: var(--font-size-xxs);
}

.book-details-rate {
    font-size: var(--font-size-xxs);
}