.sidebar-container {
    position: relative;
    background-image: url("/src/assets/image/bg-login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    width: 350px;
}

.sidebar {
    width: 100%;
    margin: 0 auto;
    width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    box-sizing: border-box;
    background-color: var(--background-color-primary);
    height: 100vh;
}

.sidebar-logo {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-logo img {
    width: 120px;
    height: 75px;
    margin-bottom: 100px;
    margin-top: 40px;
}

.List-sidebar-link {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sidebar-link {
    list-style: none;
}

.sidebar-link a {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-regular);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar-icon {
    margin-right: 10px;
}

.sidebar-title-home {
    color: var(--text-color-primary);
}

.sidebar-title-home:hover {
    color: var(--text-color-secondary);
}

.sidebar-title-myshelf {
    color: var(--text-color-primary);
}

.sidebar-title-myshelf:hover {
    color: var(--text-color-secondary);
}