.header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: calc(100% - 200px); /* Adjust this based on the width of your sidebar */
    left: 200px; /* Adjust this based on the width of your sidebar */
    top: 0;
    z-index: 1000;
    padding: 0 20px;
    height: 60px;
    padding: 0 20px;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
