.main-layout-container {
    display: flex;
    width: 100%;
}

.content-container {
    width: 100%;
    margin-top: 50px;
    background-color: var(--background-color-tertiary);
    height: calc(100%-50px);
    width: calc(100% - 400px);
}