@font-face {
    font-family: 'Inter';
    src: url(/src/assets/font/Inter-Regular.ttf);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(/src/assets/font/Inter-Medium.ttf);
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(/src/assets/font/Inter-SemiBold.ttf);
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(/src/assets/font/Inter-Bold.ttf);
    font-weight: 700;
    font-display: swap;
}