.button {
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: var(--btn-background-color-hover)
}

.button.small {
    padding: 5px 10px;
    font-size: 12px;
}

.button.medium {
    padding: 10px 20px;
    font-size: 16px;
}

.button.large {
    padding: 16px;
    font-weight: var(--font-weight-semibold);
}


.button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}