.btn:hover {
    background-color: var(--btn-background-color-hover)
}

.btn {
    padding: 10px 20px;
    border: none;
    color: var(--text-color-tertiary);
    font-size: var(--font-size-sm);
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-large {
    font-size: var(--font-size-md);
    padding: 15px 25px;
    width: 100%;
}

.btn-primary {
    background-color: var(--btn-background-color-primary);
    color: var(--text-color-tertiary);
}

.btn-rounded {
    border-radius: 8px;
}

.btn-disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.btn-disabled:hover {
    background-color: #cccccc;
}