.homepage-container {
    display: flex;
    width: 100%;
}

.row {
    display: flex;
    gap: 50px;
    width: 100%;
    margin-bottom: 75px;
}

.main-content {
    background-color: var(--background-color-tertiary);
    width: calc(100% - 380px);
    margin-top: 50px;
}

.content {
    padding: 10px 50px 10px 40px;
}