.homepage-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 380px;
    margin-top: 70px;
    margin-right: 50px;
    background-color: var(--background-color-light-grey);
    overflow-y: auto;
    padding-top: 100px;
    height: calc(100vh - 50px);
    /* Adjust based on header height */
}

.content {
    padding: 10px 70px 10px 50px;
}