.homepage-container {
    width: 100%;
}

.row {
    display: flex;
    gap: 50px;
    width: 100%;
    margin-top: 20px;
}

.main-content {
    width: 100%;
    overflow: scroll;
    height: calc(100vh - 50px);
}

.content {
    padding: 25px 50px 10px 40px;
}